@import "./normalize.css";

@font-face {
    font-family: "Montserrat Regular";
    src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

$font-mont: "Montserrat Regular", sans-serif;
$font-sans: sans-serif;

$bg-main: #3b1c32;
$bg-dark: #2a1423;
$bg-light: #532845;
$color-flavour: #89daff;
$font-main: #ffffff;

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin bg-mixin {
    background-color: #121212;
    opacity: 0.9;
    background-size: 8px 8px;
    background-image: repeating-linear-gradient(45deg, #2a1423 0, #2a1423 0.8px, #121212 0, #121212 50%);
}
@mixin button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body, #root{
    height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    color: $font-main;
    font-family: $font-mont;
    background-color: $bg-dark;
}

.v-items {
    display: flex;
    flex-direction: column;
}

.h-items {
    display: flex;
    flex-direction: row;
}

.v-list {
    display: flex;
    flex-direction: column;
    li {
        display: block;
    }
}

.h-list {
    display: flex;
    align-items: center;
    li {
        display: inline-block;
    }
}

.c-gap-5 {
    column-gap: 5px;
}

.c-gap-10 {
    column-gap: 10px;
}

.c-gap-15 {
    column-gap: 15px;
}

.r-gap-5 {
    row-gap: 5px;
}

.r-gap-10 {
    row-gap: 10px;
}

.r-gap-15 {
    row-gap: 15px;
}

.t-margin-1 {
    margin-top: 1rem;
}

.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    display: flex;
    justify-content: center;
}

input {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

a {
    color: $font-main;
    text-decoration: none;
    @include transition();
}

button {
    cursor: pointer;
    outline: inherit;
    border: none;
    &:hover {
        opacity: 1;
    }

    svg {
        font-size: 1.5rem;
    }
}

.btn-regular {
    color: $font-main;
    border: 1px solid $bg-main;
    border-radius: 3px;
    background: $bg-light;
    font-size: 1.5rem;
    padding: 9px 12px;
    @include transition();
    &:hover {
        @include transition();
        background: lighten($color: $bg-light, $amount: 10);
    }
}

.btn-option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    padding: 10px;
    color: $font-main;
    background: $bg-light;
    @include transition();
    &:hover {
        cursor: pointer;
        @include transition();
        background: lighten($color: $bg-light, $amount: 10);
    }
    &.correct {
        background: darken(#21cf69, $amount: 15);
    }
    &.wrong {
        background: darken(#b31818, $amount: 15);
    }
    &.fade {
        opacity: 0.3;
    }
}

.fancy {
    position: relative;
    white-space: nowrap;
    &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2389daff' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
    }
}

.page-container {
    width: 100%;
    position: relative;
    height: 100%;

    .seperator {
        display: block;
        width: 100%;
        height: 4px;
        opacity: 0.8;
        background-color: $color-flavour;
    }

    .seperator.half {
        height: 1px;
        opacity: 0.6;
        background-color: $color-flavour;
    }

    header {
        height: 55px;
        background-color: $bg-dark;
        z-index: 777;
        @include no-select();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        nav {
            margin: 0 auto;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo {
                font-size: 1.8rem;
                font-family: $font-mont;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                    text-shadow: 0 0 15px $color-flavour;
                }
            }
        }
    }

    .main {
        height: 100%;
        display: flex;
        justify-content: center;
        @include bg-mixin();

        .overlay {
            z-index: -2;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .flagger-overlay {
            background: url("../img//tests/flags.jpg") no-repeat 0 0;
            background-size: cover;
            background-position: center 20%;
            filter: brightness(20%);
            position: absolute;
        }

        .content {
            height: 100%;
            z-index: 1;
            display: flex;
            column-gap: 20px;

            .loading {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                min-height: 35vh;
                height: 100%;
            }

            ul {
                height: 100%;
                flex-wrap: wrap;
            }

            .box {
                @include no-select();
                width: 49%;
                height: 50%;
                border-radius: 5px;
                background-color: $bg-dark;
                background: no-repeat 0 0;
                background-size: cover;
                background-position: center 20%;
                filter: brightness(75%);
                @include transition();

                &:hover {
                    @include transition();
                    cursor: pointer;
                    filter: brightness(90%);
                }

                .info {
                    z-index: 2;
                    position: relative;
                    height: 100%;
                    color: $font-main;
                    font-size: 5rem;
                    letter-spacing: 2px;
                    text-align: center;
                    align-items: end;
                    padding-bottom: 3.3rem;
                    text-shadow: 0.05em 0 #121212, 0 0.05em #121212, -0.05em 0 #121212, 0 -0.05em #121212;
                }
            }

            .multi {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

            .single {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .flagger {
                @include no-select();
                position: relative;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;

                .info-overlay {
                    z-index: 0;
                    width: 100%;
                    height: 90%;
                    position: absolute;
                    @include bg-mixin();
                }

                .info {
                    z-index: 1;
                    h1 {
                        padding: 7px;
                        text-align: center;
                        font-size: 4rem;
                    }
                    img {
                        width: 100%;
                    }
                    span {
                        display: flex;
                        text-align: center;
                    }
                }
                .starter {
                    z-index: 1;
                    width: 85%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    h2 {
                        padding: 2px;
                    }
                    .difficulty {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        column-gap: 1rem;
                        button {
                            width: 100%;
                        }
                    }
                    .options {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        .option-selector {
                            width: 100%;

                            label {
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                width: 100%;
                                height: 40px;
                                padding: 10px;
                                background: $bg-light;
                                @include transition();
                                &:hover {
                                    cursor: pointer;
                                    @include transition();
                                    background: lighten($color: $bg-light, $amount: 10);
                                }
                            }
                            label.active {
                                background: darken($color: $color-flavour, $amount: 15);
                            }
                        }
                    }
                    .active {
                        background: darken($color: $color-flavour, $amount: 15);
                    }
                    button.start {
                        background: darken($color: $color-flavour, $amount: 25);
                        &:hover {
                            background: lighten($color: $bg-main, $amount: 15);
                        }
                    }
                }
                .game {
                    img {
                        height: 290px;
                        border: 3px solid rgba($bg-light, 0.6);
                        border-radius: 3px;
                    }
                }
                .results{
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 1rem;
                }
            }
        }
    }

    footer {
        position: relative;
        width: 100%;
        height: 50px;
        color: $font-main;
        background-color: $bg-light;

        .footer-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            width: 100%;
            height: 49px;

            .footer-nav {
                margin-bottom: 1em;
                ul {
                    margin-bottom: 0;
                    overflow: hidden;
                    li {
                        color: $font-main;
                        display: inline-block;
                        margin-right: 1em;
                        font-family: $font-mont;
                        font-size: 0.95rem;
                    }
                }
            }
            .socials {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 0.6em;
                        a {
                            font-size: 1.2rem;
                            opacity: 0.5;
                            cursor: pointer;
                            @include transition();
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .copyright {
                display: inline-flex;
                opacity: 0.5;
                font-family: $font-mont;
                align-items: center;
                svg {
                    color: $color-flavour;
                    font-size: 0.85rem;
                    margin-left: 3px;
                }
            }
        }
    }
}

@media (min-width: 1041px) {
    .content-wrapper {
        width: 1041px;
        .h-items {
            flex-direction: row;
            .multi {
                width: 50% !important;
            }
        }
    }
}

@media (max-width: 1040px) {
    .content-wrapper {
        width: 89%;
        .h-items {
            padding-top: 1rem;
            flex-direction: column;
            .multi {
                width: 100% !important;
            }
        }
    }

    .page-container .main .content ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-container .main .content .box {
        width: 90%;
        height: 200px;
        .info {
            font-size: 2rem;
        }
    }

    .rounds {
        flex-direction: column;
    }

    .page-container .main .content .flagger .info {
        width: 90%;
    }

    .page-container .main .content .flagger .info-overlay {
        height: 100%;
    }

    .page-container .main .content .flagger .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 65%;
        }
    }
}

@media (max-width: 740px) {
    .content-wrapper {
        width: 90%;
        .h-items {
            padding-top: 1rem;
            flex-direction: column;
            .multi {
                width: 100% !important;
            }
        }
    }

    .page-container .main .content .flagger .info h1 {
        font-size: 3rem;
    }

    .page-container .main .content ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-container .main .content .box {
        width: 90%;
        height: 200px;
        .info {
            font-size: 2rem;
        }
    }

    .rounds {
        flex-direction: column;
    }

    .page-container .main .content .flagger .game {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
        }
    }

    .page-container .main .content .flagger .info {
        width: 85%;
    }

    .page-container .main .content .flagger .info-overlay {
        height: 100%;
    }
}
